* {
  margin: 0;
  padding: 0;
}

.container1 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.containerChild1,
.containerChild2 {
  padding: 5px;
}
