
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pathway Gothic One', sans-serif;
}

.container1 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.containerChild1,
.containerChild2 {
  padding: 5px;
}

.containerChild1{
    width: 70vh;
}

.containerChild2{
    width: 30vh;
}
.container-img{
    margin: 0px;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: auto;
    background-color:#a3c3c9
}
.container-img img{
    width: 35rem;
    min-width:13px ;
    padding: 10px;
}
.card-content {
  width: 300px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
 }
